body{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    height: 100vh;
    width: 100%;
}


#canvas{
    
    border-style: solid;
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}
.timer{
    font-size: 30px;
}
.canvasContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
